{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {% set datetime_value = attribute(content.field_date.0, '#markup') %}
  <div class="date-tag event-date-tag featured-{{ content.field_featured[0] }}" data-date="{{ datetime_value| date('m d Y')}}"><span class="day">{{ datetime_value|date('d') }}</span>
  <span class="month-year">{{ datetime_value|date('M') }} {{ datetime_value|date('\'y') }}</span></div>
  {{ ds_content }}

</{{ ds_content_wrapper }}>
